*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
    font: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}